<div>
<div class="accordion-list border-bottom">
{% if product.description != blank %}
    <button class="accordion border-top">DETAILS</button>
      <div class="panel panel-1" >
            {% assign my_description = product.description | split: '<!-- split -->'  %}
         <p><div class="description">{{ my_description[1] }}</div></p>
        <a class="read-more-link" href="#product_description"><b>read more</b></a>
      </div>
{% endif %}

{% if product.metafields.loox.reviews != blank %}
  <button class="accordion border-top">REVIEWS</button>
  <div class="panel">
    <p><div id="looxReviews" data-product-id="{{product.id}}" class="loox-reviews-default">{{ product.metafields.loox.reviews }}</div></p>
  </div>
{% endif %}

  <button class="accordion border-top">SHIPPING & RETURNS</button>
  <div class="panel">
    <br><p>{{ section.settings.shopping_return }}<br></p>
   <br><a href="/policies/refund-policy" ><b>Read More</b></a>
  </div>

  <button class="accordion border-top">FAQ’s</button>
  <div class="panel">
  <br>{{ section.settings.faqs }}
      <a href="#shopify-section-product-faq" ><b>Read More</b></a>
  </div>

    
</div>
<style>
.accordion {
  background-color: #fff;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}
.active, .accordion:hover {
    background-color: #81da4d;
    color: #fff;
}
  .accordion:hover:after{
    color:#fff;
  }
.accordion:after {
  content: '\002B';
  color: #81da4d;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  font-size:20px;
}
.active:after {
  content: "\2212";
}
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion.border-top{
  border-top: 1px solid;
    border-color: #dfdfdf;
}
.accordion-list.border-bottom{
   border-bottom: 1px solid;
    border-color: #dfdfdf;
}
.description {
  max-height: 148px;
  overflow: hidden;
}
.expanded {
  max-height: none;
}
</style>
<script>
    function toggleDescription() {
    var description = document.querySelector('.description');
    var panel = document.querySelector('.panel');
    var readMoreLink = document.querySelector('.read-more-link');

    if (description.classList.contains('expanded')) {
      description.classList.remove('expanded');
      readMoreLink.textContent = 'Read more';
      panel.style.maxHeight = '250px'; // Reset the max-height of the panel
    } else {
      description.classList.add('expanded');
      readMoreLink.textContent = 'Read less';
      panel.style.maxHeight = panel.scrollHeight + 'px'; // Set max-height to match content height
    }
  }

  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
    });
  }
</script>
